extends ../layouts/default

block content
  .col-md-12
        if message && message.length
          .fade.in.alert.alert-error
            button.close(type="button", data-dismiss="alert") &times;
            strong #{message}
  form.signin.form-horizontal(action="/users/session", method="post")
    .form-group
      label.col-md-4.control-label(for='user') User
      .col-md-4
        input#email.form-control(type='text', name="user", placeholder='User')

    .form-group
      label.col-md-4.control-label(for='password') Password
      .col-md-4
        input#password.form-control(type='password', name="password", placeholder='Password')

    .form-group
      .col-md-offset-4.col-md-8
        button.btn.btn-primary(type='submit') Sign in